doctype 5
html
  head
    link href='https://fonts.googleapis.com/css?family=Open+Sans:300|Open+Sans+Condensed:300', type='text/css', rel='stylesheet')
    link(href='/css/style.css', type='text/css', rel='stylesheet')

  body

    block content
